.container {
  padding: 20px;
  margin-top: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  border-radius: 15px;
  background-color: #9dc1d6;
  text-transform: capitalize;
}
form {
  text-align: center;
  padding: 20px;
}
.btn {
  background-color: #528ed7;
  border-color: #528ed7;
}

.row {
  text-align: center;
  padding: 20px;
}
.col-4 {
  font-size: 25px;
  color: #536881;
  text-transform: capitalize;
}

.city {
  font-size: 40px;
  font-weight: bold;
  color: #528ed7;
}

.mainTemp {
  font-size: 40px;
  font-weight: bold;
}
.units {
  position: relative;
  font-size: 15px;
  top: -15px;
}

.icon {
  font-size: 60px;
  color: #ffaa00;
  display: block;
}

.card {
  font-size: 20px;
  color: #536881;
}

.sun-icon {
  font-size: 35px;
  color: #ffaa00;
}

.sun-cloud-icon {
  font-size: 35px;
  color: #426a87;
}
.cloud-icon {
  font-size: 35px;
  color: #47505b;
}
.rain-icon {
  font-size: 35px;
  color: #22538f;
}
